<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739349293266-tsg9o0dqjpsti38p6j4fak9ho8p2n44p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739349293266-tsg9o0dqjpsti38p6j4fak9ho8p2n44p</string>
	<key>API_KEY</key>
	<string>AIzaSyB113QjTlR8zxLpYISBrqWXcyCy5neeny8</string>
	<key>GCM_SENDER_ID</key>
	<string>739349293266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Invoke.native.tracker.phone</string>
	<key>PROJECT_ID</key>
	<string>ergo-database</string>
	<key>STORAGE_BUCKET</key>
	<string>ergo-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739349293266:ios:9b1412f380ced84b16e50b</string>
</dict>
</plist>